"*.vue"    eol=crlf
"*.js"     eol=crlf
"*.ts"     eol=crlf
"*.jsx"    eol=crlf
"*.tsx"    eol=crlf
"*.cjs"    eol=crlf
"*.cts"    eol=crlf
"*.mjs"    eol=crlf
"*.mts"    eol=crlf
"*.json"   eol=crlf
"*.html"   eol=crlf
"*.css"    eol=crlf
"*.less"   eol=crlf
"*.scss"   eol=crlf
"*.sass"   eol=crlf
"*.styl"   eol=crlf
