@import './reset.css';
@import './transition.css';
@import './naive.css';

html,
body,
#app {
  height: 100%;
}
.color-weak {
  filter: invert(80%);
}

.gray-mode {
  filter: grayscale(100%);
}

.drag-handle {
  cursor: move;
}

/* set iconify icon size */
[class^="i-"] {
  width: 1.05rem !important;
  height: 1.05rem !important;
}
